@import "_include";


.log {
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  background: black;
  padding: 20px;

}

html {
  font-family: "Open Sans";
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto";
}

h1 {
  font-size: 2.4rem;
  margin: 0 0 0.3rem 0;
  font-weight: 300;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 26px;
  font-weight: 300;
}

h4 {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Roboto";
  margin: 0 0 0.6rem 0;
}

p {
  line-height: 140%;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.65);
}

a {
  color: #3279d8;
}

hr {
  margin: 3rem 0;
  border: none;
  border-bottom: solid 1px #ddd;
}

.section + hr {
  margin: 5rem 0;
}

.page {
  width: 100vw;
  height: 100vh;
  perspective: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ralph {
  position: relative;
}

$first: 25px;

neck {
  position: absolute;
  width: 200px;
  height: 450px;
  left: 50px;
  bottom: -100px;
  background: white;
  border: solid 4px black;
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
  border-radius: 100px;
}

noggin {
  width: 300px;
  height: 450px;
  transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y));
  transform-origin: 50% 50% -100px;
  position: relative;
  transform-style: preserve-3d;
  background: white;
  border: solid 4px black;
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
  border-radius: 100px;

  ears {
    position: absolute;
    width: 100%;
    left: 0%;
    top: 45%;
    transform: translateZ(-30px);
    
    ear {
      position: absolute;
      background: white;
      border: solid 4px black;
      height: 100px;
      width: 50px;

      &:first-child {
        left: -50px;
        border-radius: 25px 0 0 45px;
      }
      &:last-child {
        right: -50px;
        border-radius: 0 25px 45px 0;
      }
    }
  }


  cheeks {
    position: absolute;
    width: 80%;
    left: 10%;
    height: 40px;
    top: 57%;
    transform: translateZ(20px);
    transform-style: preserve-3d;
    
    cheek {
      position: absolute;
      height: 100%;
      width: 50px;
      height: 50px;
      background: red;
      border-radius: 50%;


      &:first-child {
        left: 0;
        transform: rotateY(-15deg);
      }
      &:last-child {
        right: 0;
        transform: rotateY(15deg);
      }
    }
  }

  eyes {
    position: absolute;
    width: 60%;
    left: 20%;
    top: 42%;
    transform: translateZ(10px);
    
    eye {
      position: absolute;
      height: 40px;
      width: 40px;
      background: black;
      border-radius: 50%;

      &:first-child {
        left: 0;
      }
      &:last-child {
        right: 0;
      }
    }
  }

  backhair {
    position: absolute;
    width: 140%;
    left: -20%;
    height: 330px;
    background: black;
    top: -80px;
    transform: translateZ(-25px);
    border-radius: 150px 150px 100px 100px;
    transform-style: preserve-3d;
  }

  fronthair {
    position: absolute;
    top: -30px;
    width: 110%;
    left: -5%;
    transform: translateZ(20px) rotateX(5deg);
    border-radius: 25px;
    transform-style: preserve-3d;

    bang {
      position: absolute;
      height: 130px;
      background: black;
      box-shadow: 0px 10px 0px rgba(0,0,0,.15);
      
      &:first-child {
        left: 0;
        width: 70%;
        border-radius: 50% 0 50% 0;
      }

      &:last-child {
        right: 0;
        width: 30%;
        border-radius: 0 50% 0 50%;
      }
    }
  }

  brow {
    position: absolute;
    width: 80%;
    left: 10%;
    height: 60px;
    background: #BBB;
    top: 34%;
    transform: translateZ($first) rotateX(20deg);
    border-radius: 0 0 50px 50px;
    background: white;
    border-bottom: solid 4px black;
    box-sizing: border-box;
  }

  nose {
    position: absolute;
    width: 20%;
    left: 40%;
    height: 100px;
    background: white;
    box-sizing: border-box;
    top: 45%;
    transform: translateZ(35px) rotateX(20deg);
    border-radius: 0 0 50px 50px;
    transform-style: preserve-3d;

    &[direction="r"] {
      border-right: solid 4px black;
    }

    &[direction="l"] {
      border-left: solid 4px black;
    }
  }

  mouth {
    position: absolute;
    width: 50%;
    left: 25%;
    height: 100px;
    background: rgba(0,0,0,.15);
    box-sizing: border-box;
    bottom: 30px;
    transform: translateZ($first);
    border-radius: 50px;
    transform-style: preserve-3d;
  }

  lips {
    position: absolute;
    width: 60%;
    left: 20%;
    height: 40px;
    top: calc(50% - 30px);
    transform: translateZ(15px);
    border-radius: 100%;
    border-bottom: solid 4px black;
  }

  chin {
    position: absolute;
    width: 50%;
    left: 25%;
    height: 100px;
    background: white;
    border-bottom: solid 4px black;
    bottom: -20px;
    transform: translateZ(15px) rotateX(15deg);
    border-radius: 50px;
    transform-style: preserve-3d;

  }


}

