@import "_include";

:root {
  --virtual-progress: 0;
  --bar-width: 0%;
  --rotate-x: 0deg;
  --rotate-y: 0deg;
}


.log {
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  background: black;
  padding: 20px;

}

html {
  font-family: "Open Sans";
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto";
}

h1 {
  font-size: 2.4rem;
  margin: 0 0 0.3rem 0;
  font-weight: 300;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 26px;
  font-weight: 300;
}

h4 {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Roboto";
  margin: 0 0 0.6rem 0;
}

p {
  line-height: 140%;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.65);
}

a {
  color: #3279d8;
}

hr {
  margin: 3rem 0;
  border: none;
  border-bottom: solid 1px #ddd;
}

.section + hr {
  margin: 5rem 0;
}

.page {
  width: 100vw;
  height: 100vh;
  perspective: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.computer {
  position: relative;
}

.wrapper {
    // display: flex;
  // align-items: center;
  // justify-content: center;
}

$first: 25px;

neck {
  position: absolute;
  width: 200px;
  height: 450px;
  left: 50px;
  bottom: -100px;
  background: white;
  border: solid 4px black;
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
  border-radius: 100px;
}

noggin {
  width: 300px;
  height: 450px;
  transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y));
  transform-origin: 50% 50% -100px;
  position: relative;
  transform-style: preserve-3d;
  background: white;
  border: solid 4px black;
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
  border-radius: 100px;

  ears {
    position: absolute;
    width: 100%;
    left: 0%;
    top: 45%;
    transform: translateZ(-30px);
    
    ear {
      position: absolute;
      background: white;
      border: solid 4px black;
      height: 100px;
      width: 50px;

      &:first-child {
        left: -50px;
        border-radius: 25px 0 0 25px;
      }
      &:last-child {
        right: -50px;
        border-radius: 0 25px 25px 0;
      }
    }
  }


  cheeks {
    position: absolute;
    width: 80%;
    left: 10%;
    height: 40px;
    top: 57%;
    transform: translateZ(20px);
    transform-style: preserve-3d;
    
    cheek {
      position: absolute;
      height: 100%;
      width: 50px;
      height: 50px;
      background: red;
      border-radius: 50%;


      &:first-child {
        left: 0;
        transform: rotateY(-15deg);
      }
      &:last-child {
        right: 0;
        transform: rotateY(15deg);
      }
    }
  }

  eyes {
    position: absolute;
    width: 60%;
    left: 20%;
    top: 42%;
    transform: translateZ(10px);
    
    eye {
      position: absolute;
      height: 40px;
      width: 40px;
      background: black;
      border-radius: 50%;

      &:first-child {
        left: 0;
      }
      &:last-child {
        right: 0;
      }
    }
  }


  backhair {
    position: absolute;
    width: 140%;
    left: -20%;
    height: 330px;
    background: black;
    top: -80px;
    transform: translateZ(-25px);
    border-radius: 150px 150px 100px 100px;
    transform-style: preserve-3d;
  }

  fronthair {
    position: absolute;
    top: -20px;
    width: 110%;
    left: -5%;
    transform: translateZ(25px);
    border-radius: 25px;
    transform-style: preserve-3d;

    bang {
      position: absolute;
      height: 120px;
      background: black;
      box-shadow: 0px 10px 0px rgba(0,0,0,.15);
      
      &:first-child {
        left: 0;
        width: 70%;
        border-radius: 50% 0 50% 0;
      }

      &:last-child {
        right: 0;
        width: 30%;
        border-radius: 0 50% 0 50%;
      }
    }
  }

  brow {
    position: absolute;
    width: 80%;
    left: 10%;
    height: 60px;
    background: #BBB;
    top: 34%;
    transform: translateZ($first) rotateX(20deg);
    border-radius: 0 0 50px 50px;
    background: white;
    border-bottom: solid 4px black;
    box-sizing: border-box;
  }

  noseridge {
    position: absolute;
    width: 20%;
    left: 40%;
    height: 100px;
    background: white;
    // border-left: solid 4px black;
    border-right: solid 4px black;
    // border: solid 4px black;
    box-sizing: border-box;
    top: 45%;
    transform: translateZ(35px) rotateX(20deg);
    border-radius: 0 0 50px 50px;

  }

  mouth {
    position: absolute;
    width: 50%;
    left: 25%;
    height: 100px;
    background: #DDD;
    bottom: 30px;
    transform: translateZ($first);
    border-radius: 50px;
    transform-style: preserve-3d;
  }

  lips {
    position: absolute;
    width: 60%;
    left: 20%;
    height: 40px;
    top: calc(50% - 30px);
    transform: translateZ(15px);
    border-radius: 100%;
    border-bottom: solid 4px black;
  }

  chin {
    position: absolute;
    width: 50%;
    left: 25%;
    height: 100px;
    background: white;
    border-bottom: solid 4px black;
    bottom: -20px;
    transform: translateZ(15px);
    border-radius: 50px;
    transform-style: preserve-3d;
  }


}

h1 + .section {
  margin-top: 2.5rem;
}

.header {
  border-bottom: solid 1px #ddd;
  margin: 2rem 0 4rem 0;
  padding: 0 0 1rem 0;
}

.section.hero {
  margin-bottom: 1rem;
  margin-top: 0;

  img {
    width: 90%;
    margin: 0 auto;
  }

  h1 {
    margin: 0 0 0.6rem 0;
  }

  h2 {
    margin: 0 0 1.2rem 0;
    line-height: 130%;
  }

  p {
    font-size: 1.15rem;
    color: rgba(0, 0, 0, 0.5);
  }
}

.section {
  display: flex;
  z-index: 1;
  position: relative;

  h3 {
    margin: 0 0 1rem 0;
    line-height: 2.2rem;
  }

  p {
    margin: 0 0 1.5rem 0;
    line-height: 150%;
    font-size: 1.1rem;

    &:last-child {
      margin: 0;
    }
  }

  a {
    line-height: 150%;
    font-weight: 600;
    color: #0453bd;
    font-size: 1.1rem;
  }
}

.col {
  z-index: 1;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:empty {
    &::after {
      padding: 80px;
      margin: 0 auto;
      display: block;
    }
  }

  &:first-child {
    margin-right: 30px;
  }

  &:last-child {
    margin-left: 30px;
  }
}

.cli-install {
  padding: 30px 25px 15px 25px;
  position: relative;
  top: 0;
  z-index: 99;
  background: white;
  width: calc(100%);
  margin: 0 -25px;

  h4 {
    margin: 0;
  }

  .cli-header {
    display: flex;

    .platform-picker {
      margin-left: auto;
      z-index: 2;
      padding-right: 1rem;

      span {
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        padding-bottom: 0.75rem;
        display: inline-block;
        margin: 0 0.6rem;
        cursor: pointer;
        font-size: 1.1rem;

        &.selected {
          color: rgba(0, 0, 0, 0.8);
          border-bottom: solid 4px #3569c4;
          font-weight: 600;
        }
      }
    }
  }

  .cli-command {
    background: #daeaff;
    padding: 20px;
    display: block;
    width: 100%;
    border: none;
    font-size: 1rem;
    font-family: "Roboto Mono", monospace;
    color: #498fec;
    color: #3569c4;
    border-radius: 3px;
    padding-right: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;

    &:focus {
      border: none;
      outline: none;

      &::selection {
        background: #3569c4;
        color: #daeaff;
      }
    }
  }

  .cli-copy-icon {
    position: absolute;
    cursor: pointer;
    right: 34px;
    bottom: 21px;
    height: 50px;
    width: 50px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/clipboard-icon-blue.svg);

    &.success {
      animation: copySuccess 2s ease-in-out;
    }
  }

  @keyframes copySuccess {
    5% {
      opacity: 0;
      transform: scale(0.7);
      background-image: url(../img/clipboard-icon-blue.svg);
    }

    10% {
      background-image: url(../img/checkmark-blue-circle.svg);
    }

    20% {
      opacity: 1;
      transform: scale(1.2);
    }

    30% {
      transform: scale(1);
    }

    80% {
      opacity: 1;
      background-image: url(../img/checkmark-blue-circle.svg);
    }

    85% {
      opacity: 0;
      background-image: url(../img/checkmark-blue-circle.svg);
    }

    86% {
      opacity: 0;
      background-image: url(../img/clipboard-icon-blue.svg);
    }

    100% {
      opacity: 1;
    }
  }
}


.cursor {
  animation: blink 1s ease-in-out infinite;

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}

@keyframes iconAppear {
  0% {
    transform: scaleX(0);
  }

  60% {
    transform: scaleX(1.1);
  }

  80% {
    transform: scaleX(0.9);
  }

  100% {
    transform: scaleX(1);
  }
}

footer {
  padding: 80px;
  background: #222;
  margin-top: 8rem;

  a,
  span {
    font-size: 1rem;
  }

  .content {
    width: clamp(600px, 75%, 1000px);
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.4);

    .divider {
      padding: 0 0.5rem;
    }

    a {
      font-weight: 600;
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .header {
    margin: 2rem 0 2rem 0;
  }

  .section + hr {
    margin: 3rem 0;
  }

  .page {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1.5rem;
  }

  .section.hero {
    margin-bottom: 1rem;
    margin-top: 0;

    img {
        width: 70%;
        margin: 0;
    }
  }

  footer {
    margin-top: 6rem;
    line-height: 150%;

    .content {
      width: auto;
    }
  }

  .section {
    flex-direction: column;

    .col {
      order: 2;
      flex: 1 0 auto !important;
      margin: 0;

      p:last-child {
        margin: 0;
      }
    }

    .image-col {
      margin: 0 0 3rem 0;
      order: 1;
    }
  }

  .cli-install {
    margin: 0;
    width: auto;
    padding: 0;

    .cli-copy-icon {
      bottom: 5px;
      right: 5px;
    }

    .cli-header {
      display: block;

      h4 {
        margin: 2rem 0 1.5rem 0;
      }

      .platform-picker {
        display: block;

        span {
          padding-left: 1rem;
          margin: 0;
          padding-right: 1rem;
        }
      }
    }
  }
}
